<div class="container">


    <h1>Hola {{user.username}}</h1>

    <p>Mi email: {{user.email}}</p>
    <p>Imagen de perfil</p>
    <img class='imagenPerfil' src="{{user.image}}" alt="imagen de perfil">

    <a href="colaboradores/perfil/editar/{{user._id}}">Editar perfil</a>
    <a href="colaboradores/mis-eventos">Mis eventos</a>
</div>