<h1>{{appTitle}} </h1>

<div class="contenedor">  
    <div class="hijo"
    <p> bienvenido disfrutones!</p> 
 <a href="/registro"  class="btn btn-outline-primary">Registrate</a>
 <a href="/inicio-sesion"  class="btn btn-outline-primary">Inicio de sesion</a>


</button>


