body {
  font-family:  sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

.imagenPerfil{
  width: 30%;
}

#myMap { 
  background-color: blue;
  height: 450px;
}


.imagenEvento {
  width: 30%;
}